Django>=5.0,<5.2
dnspython
pymongo[srv]==3.12.3
whitenoise
django-environ
gunicorn
Pillow
cloudinary
django-cloudinary-storage
pytz
asgiref
sqlparse>=0.3.1
python-decouple
dj-database-url
psycopg2-binary
