[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/VoteHub
ExecStart=/home/ubuntu/VoteHub/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          college_voting.wsgi:application

[Install]
WantedBy=multi-user.target
